body { 
  background-color: rgb(39, 39, 39);
}
.para {
  color: white;
  font-size: 20px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#day{
display: none;
color: blue;
text-decoration: none;
font-size: 30px;
}
#morn{
display: none;
color: yellow;
text-decoration: none;
font-size: 30px;
}
#eve{
display: none;
color: red;
text-decoration: none;
font-size: 30px;
}